<html>
    <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <form method="get" action="">
            <input type="text" name="amount">
            <button type="submit" class="btn btn-bg" value="submit" name="submit">Pay</button>
            
        </form>
        <a href="/login/facebook">login with facebook</a>
    
    </body>
</html>