<html>
    <head>
    <!-- Latest compiled and minified CSS -->

    </head>
    <body>
        <form method="get" action="">
            <input type="text" placeholder="0977655533" name="phone"><br>
            <input type="text"  placeholder="Mwiza" name="Fname"><br>
            <input type="text" placeholder="Simbeye" name="Fname"><br>
            <button type="submit" class="btn btn-bg" value="submit" name="register">Register</button>
        </form>
   
    </body>
</html>